#secAbout{
  @include Dimension(100%,100vh);
  background: $background;
}

.i1{

  @include Dimension(350px,200px);
  display: block;
  margin:30px auto;
  border: 2px solid yellow;
  border-radius: 30px;
  background-position: center;


}

p{
  text-align: justify;
  margin-bottom: 30px;
  padding: 30px;
}




 .abtHeading{
  margin-top: 50px;
  text-align: center;
 }

.jump{

  @include Dimension(80px,80px);
  font-size: 18px;
  border: 2px solid black;
  background: black;
  border-radius: 180px;
  margin-bottom: 15px auto;
  position: relative;
  left: 40%;
  a{
    color: yellow;
  }
}
