#secContact{

  @include Dimension(100%,100vh);
  background: $background;
}

.contactHeading{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 50px;
}

.contactFooter p{
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  color: blue;
}
